# Ignore everythingruns
#*

# But not these files...
!.gitignore
!.gitattributes
.gitignore.bak

!build.bat
!build.tcl
*.log
*.jou
*.str
*.analytics
*.Xil


# Vivado Project
/Vivado_BASYS_3/*
#/XILINX_BASYS_3/XILINX_BASYS_3.ip_user_files
#!/XILINX_BASYS_3/XILINX_BASYS_3.sim
!/Vivado_BASYS_3/Vivado_BASYS_3.srcs
!*xpr




# Vitis Project
/Vitis/.metadata/
/Vitis/RemoteSystemsTempFiles/
/Vitis/CPU1_platform/*
!/Vitis/CPU1_platform/platform.tcl










